
body {
	margin-right: auto;
	width: 96%;
}

h1 {
	border-bottom: 2px solid rgba(0,0,0,1.0);
	padding-bottom: 0.1em;
}

h1 code {
	font-size: 1.2em;
}

h2 {
	border-bottom: 1px solid rgba(0,0,0,0.25);
	padding-bottom: 0.1em;
}

ul {
	list-style-type: square;
}

li {
	margin-bottom: 0.8em;
}

strong code {
	font-size: 1.2em;
}

pre.highlight {
	border: 2px solid lightblue;
	background: #F8F8F8;
	padding: 0.5em;
}
.highlight-c {
	color: pink;
}
.highlight-c .n {
	color: black;
}
.highlight-c .nb {
	color: black;
}
.highlight-c .c1 {
	color: green;
}
.highlight-c .o {
	color: purple;
}
.highlight-c .p {
	color: purple;
}
.highlight-c .c1 {
	color: green;
}
.highlight-c .mi {
	color: navy;
}
.highlight-c .k, .highlight-c .kt {
	color: blue;
}